@media (min-width:360px) and (max-width:768px){
    body{
         overflow-x: hidden;
    }
    .height-50 {
        height: 200px !important;
    }
    .scroll-btn {
        position: fixed;
        bottom: 40px;
        right: 40px;
        font-size: 30px;
        background: var(--navbar-clr);
        color: #fff;
        padding: 8px 9px;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        z-index: 999;
        transition: opacity .3s ease-in-out;
        box-shadow: 0px 0px 5px rgb(5, 3, 30);
    }
    .whatsapp,
    .phn {
        margin-bottom: 10px;
    }
   .phn span{
       font-size:17px;
        margin-left: 20px;
   }
    .whatsapp.text-muted{
        font-weight:normal !important
    }
    .whatsapp.hide {
        display: block;
    }
   
     p {
         font-size: 15px;
         margin: 0px;
         padding: 0px;
         line-height: 30px;
         padding-bottom: 0px;
     }
    .navbar-brand,
    .header-info .phn,
    .title,
    p,
    .text-container
     {
        text-align: center;
        display: inline-block;
    }
    .img-text{
       font-size: 10px !important;
    }
    .navbar-brand{
         font-size: 20px;   
    }
    .header-info .phn{
        font-size: 14px;
        text-align: center;
        margin-right: 20px;
    }
    .header-socials{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .col-xs-12{
        width: 100%; 
    }
    .title
   {
        font-size: 24px !important;
         display: inline-block;   
    }
    .service-section .text-title{
        font-size: 24px !important;
        text-align: center;
    }
    /* POST SECTION */
    .post_section .inner-section{
         margin-top: 30px;
    }
    .post_section p {
        padding-right: 0px;
    }

     .services::before,
     .info::before,
     .about_tex::before {
         content: "";
         position: absolute;
         border-bottom: 1px solid var(--border-color);
         width: 50px;
         left: 50%;
         top: 90%;
         transform: translate(-50%, -50%);
         margin-top: 2px;
     }
     .para-1,
     .para-2,
     .para-3,
     .para-4 {
         text-align: justify !important;
         padding-right: 0px;
         margin-bottom: 10px;
     }
      .post_section p.para-4{
         margin-top: 40px !important;
      }
     .img-container{
         display: block;
         margin-left: 0px;
         width: 100%;
         margin-bottom: 0px;
     }
     .img-container img{
         width: 100%;
         height: auto;
     }
     .post_section .img-container img,
     .whyChooseUs-section .img-container img {
         width: 400px;
     }
     .service-section .img-container{
         width: 100%;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
     }
      .service-section .img-container img {
          width: 300px;

      }
      .post_section .img-container,
      .whyChooseUs-section .img-container {  
          width: auto;
          height: auto;
          position: relative;
            margin-left: 0px;
           box-shadow: none;
           display: flex;
           justify-content: center
      }
     
     .cont-btn{
         margin-top: 10px;
     }
     .img-container{
         display: grid;
         place-content: center;
         place-items: center;
     }
     .img-box{
        width: 100%;
       margin-left: 10px;
      
       
     }
    .img-box img{
        width: 300px;    
    }
    .contact_section .inner-section{
        margin-bottom: 40px;
        text-align: justify;
        display: block
    }
    .banner-area {
        height: auto;
        width: 100vw;
    }
     /* .banner-area .banner_text-grp {
         min-height: 30vh;
     } */
     .banner-area>.banner-caption {
         min-height: 60vh;
         display: flex;
         align-items: center;
        justify-content: center;
     }

     /* ABOUT */
     .para-list {
         text-align: justify;
     }
     .about_us-section img{
         width: 300px;
         height: auto;
     }
     /* ABOUT END */

     /* FOOTER */
     .footer-info{
        display: grid;
     }
     .contact-info-container{
        width: 100%;
     }
     .contact-info-container .contact,
     .contact-info-container .phone,
     .contact-info-container .email {
         text-align: justify;
     }
     .social-group {
        justify-content:center ;
     }
     .footer-column iframe{
         width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        
     }
     iframe{
         width: 100% !important;
     }
     .info-group .list-info,
     footer p,
     .footer-title {
         text-align: justify;
     }
     .social-group {
         position: relative;
         top: 15px;
         right: 20px;
         display: flex;
         justify-content: center;
     }
     .social-group .social-list {
         /* margin-left: 20px; */
     }
     /* FOOTER END*/

     /* NAVBAR */
       ul.header-info {
           display: grid;
           place-content: center;
           place-items: center;
       }
     /* .header-info {
         display: grid;
         grid-template-columns: repeat(1,1fr);
         grid-template-rows: repeat(1,1fr);
         row-gap: 10px;
         justify-content: center;
         justify-items: center;
         margin-bottom: 0px;
         margin-right: auto;
     } */
     .top-header .row {
         display: flex;
         justify-content: center;
         align-items: center;
     }
     ul.header-info li .icon {
         margin-right: 10px;
     }
     .navbar-brand
     {
         /* width: 100%;
         display: inline-block;
         place-items: center;  */
         display: flex;
         justify-content: center;
     }

    
     ul.header-info li.emails::after {
         content: "";
         position: absolute;
         left: 50%;
         top: -50%;
         transform: translate(-50%);
         border-bottom: none;
         border-left: none;
         width: 80%;
        
     }
     
       .navbar {
           padding: 15px 0px;   
       }
     .navbar li a {
         font-weight: 500;
     }
     
     .navbar-toggler{
         background-color: #fff !important;
        color: #fff !important;
     }
      .nav-item::after {
          content: "";
          display: none;
      }

      .nav-item::before {
          content: "";
          display: none;
      }

      .nav-item:hover::after,
      .nav-item:hover::before {
          opacity: 1;
          display: none;
      }

      .nav-item:hover::after {
          bottom: 3px;
          display: none;
      }

      .nav-item:hover::before {
          top: 10%;
          display: none;
      }
     /* NAVBAR END*/

     /* WHY CHOOSE */
     .whyChooseUs-section h1.text-title::after {
        top: 60%;
        left: 58%;
        transform: translate(-50%, -50%);
         border-left: 15px solid var(--navbar-clr);

     }
     .whyChooseUs-section .img-container {
         margin-top: 0px;
     }

     /* WHY CHOOSE END */

     /* client */
      .client-card .card .icon .far,
      .client-card .card .icon .fas {

          display: flex;
          justify-content: center;
          border-radius: 100%;
          position: relative;
          z-index: 1;
          
          border-color: rgba(255, 255, 255, 0);
          border-width: 0px;
          background-color: var(--navbar-clr);
          height: 76px;
          width: 76px;
          line-height: 76px;
          border-radius: 50%;
          color: #ffffff;
          font-size: 38px;
         
          box-shadow: 0px 0px 12px rgb(5, 3, 30)
      }
     /* client */
/* about */
     .about_us-section .inner-section {
         margin-left: 0px;
     }
     .whyChooseUs-section .img-container{
         margin-right: 0px;
     }

     .about_us-section .img-container {
         margin-left: 0px;
     }
     .inner-section p {
         text-align:justify;
     }

     .quality-section .img-container img{
         width: 340px;
     }

     /* GALLERY PAGE */
     .gallery_section .img::after {
        
         background: none;
         
     }

     .gallery_section .img:hover::after {
         opacity: 0;
     }

     .img-content {
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         bottom: 80px;

     }

     .view {
         
         opacity: 0;
     }

     .gallery_section .img-container:hover .view {
         opacity: 0;
         
     }
     /* GALLERY PAGE */
}

/* @media (max-width:768px) {
    .col-title {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .client-row,
    .service-row,
    .address-row {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width:464px){
     .client-row,
     .service-row,
     .address-row {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         place-items: center;
     }
} */

